* {
  box-sizing: border-box;
}

:root {
  --color-primary: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}
/* ================= common =================*/
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
.control {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ================= header =================*/
.header {
  padding-top: 30px;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  color: #c9d2da;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 8px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  /* font-weight: 400; */
  text-shadow: 1px 0px 0px currentColor;
}

.navbar__link--active::before {
  display: inline-block;
  content: "";
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 8px;
}

.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-style: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}
/* ================= hero =================*/
.hero {
  display: flex;
  padding: 76px 0 110px;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.67;
}

.hero__row {
  margin-top: 28px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* ================= services =================*/
.service {
  padding: 170px 0;
  background-color: #fff;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  align-items: center;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 21px;
  transition: 0.25s;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #fff;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 8px;
}

.service__btn {
  margin-top: 55px;
}
/* ================= works =================*/
.works {
  background-color: #f6fbff;
  padding: 100px 0;
}

.works__desc {
  width: 468px;
}

.works-list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.works-item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  padding: 43px 42px;
  background-color: #fff;
  transition: 0.3s;
}

.works-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.works-item__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.works-item__heading-lv3 {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}

.works-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 28px;
  width: 254px;
}

.works-item__link {
  color: #2e80ce;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 18px;
  display: inline-block;
}

.works-item:hover .works-item__link {
  text-shadow: 1px 0px 0px #2e80ce;
}
/* ================= about =================*/
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
}

.about-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}

.about-content {
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--back {
  display: block;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--front {
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  left: 238px;
  top: 121px;
}

.about-content__link {
  margin-top: 38px;
}
/* ================= team =================*/
.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__cta {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__thumb {
  width: 270px;
  height: 318px;
  object-fit: cover;
  border-radius: 6px;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 12px;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}

.team__control {
  justify-content: center;
  margin-top: 38px;
}
/* ================= install-mobile =================*/
.install {
  margin-top: 85px;
  padding: 95px 0 85px;
}

.install-inner {
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  margin-top: -95px;
  display: block;
}

.install__content {
  max-width: 586px;
}

.install__desc,
.install__heading {
  color: #fff;
}

.install__heading {
  width: 489px;
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}
/* ================= blog =================*/
.blog {
  padding: 85px 0;
  background-color: #fff;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  max-width: 470px;
}

.blog__heading {
  color: #10375c;
}

.blog__link {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 1.56;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.blog__control {
  margin-top: 28px;
}

.blog__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog-item {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.3s;
  overflow: hidden;
}

.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog-item__thumb {
  width: 270px;
  height: 172px;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}

.blog-info {
  padding: 18px 22px 21px;
}

.blog-info__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.blog-info__desc {
  margin-top: 10px;
  color: #575f66;
  font-family: Sora;
  font-size: 1.4rem;
  line-height: 1.72;
}

.blog-info__link {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s;
}

.blog-item:hover .blog-info__link {
  color: #2e80ce;
}
/* ================= CTA =================*/
.cta {
  margin-top: 85px;
}

.cta__inner {
  background-color: #f6fbff;
  padding: 100px 0;
  text-align: center;
}

.cta__underline {
  width: 136px;
  height: 2px;
  background-color: #2e80ce;
  margin: 0 auto;
  margin-top: 18px;
}

.cta__desc {
  width: 617px;
  margin-left: auto;
  margin-right: auto;
}

.cta__appointment {
  margin-top: 38px;
}
/* ================= footer =================*/
.footer {
  background-color: #10375c;
  margin-top: 170px;
  padding: 100px 0 42px;
  font-family: "Open Sans", sans-serif;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
  border-bottom: 1px solid #406181;
  padding-bottom: 28px;
}

.footer__desc {
  color: #a9b3bb;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 21px;
}

.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__ul {
  margin: 20px 0 28px;
}

.footer__list {
  margin-bottom: 10px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin: 20px 0 28px;
}

.footer__socials-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
  color: #2e80ce;
  transition: 0.3s;
}

.footer__socials-btn:hover {
  background-color: #2e80ce;
  color: #fff;
}

.footer__text--subcrise {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 20px;
}

.footer__form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.footer__form--email {
  width: 212px;
  height: 46px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.footer__form--email::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer__form--subcrise {
  min-width: 108px;
  line-height: 46px;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
  border: none;
  padding: 10px 21px;
  cursor: pointer;
}

.footer__copyright-text {
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 28px;
}

/* aos */
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
